name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    -  name: Obtendo o codigo
       uses: actions/checkout@v6
    - name: Login to Docker Hub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build da Imagem Docker
      uses: docker/build-push-action@v6.18.0
      with:
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: | 
          edymonte/aula-primeira-pipeline:v${{ github.run_number }} 
          edymonte/aula-primeira-pipeline:latest 
  CD:
    runs-on: ubuntu-latest
    needs: ["CI"]
    steps:
        -  name: Obtendo o codigo
           uses: actions/checkout@v6
        - name: Configuration of context Kubernetes
          uses: Azure/k8s-set-context@v4.0.2
          with:
            method: kubeconfig
            kubeconfig: ${{ secrets.K8S_CONFIG }}
        - name: Execução do Manifesto
          uses: Azure/k8s-deploy@v5
          with:
            manifests: |
              ./k8s/deployment.yaml
            images: |
              edymonte/aula-primeira-pipeline:v${{ github.run_number }}
        
      
     
       
      
