name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    -  name: Obtendo o codigo
       uses: actions/checkout@v6
    - name: Login to Docker Hub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build da Imagem Docker
      uses: docker/build-push-action@v6.18.0
      with:
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: | 
          edymonte/aula-primeira-pipeline:v${{ github.run_number }} 
          edymonte/aula-primeira-pipeline:latest 
     
       
      
